AI_Resume_Optimizer_Workflow.json
{
  "name": "AI Resume Optimizer & ATS Enhancer",
  "nodes": [
    {
      "parameters": {
        "content": "## AI Resume Optimizer & ATS Enhancer\n\n**Flow:**\n1. User submits form: Job Description + Resume (PDF only) + Name + Email\n2. Resume text extracted from PDF\n3. AI analyzes Job Description for keywords & requirements\n4. AI rewrites resume + generates full ATS report\n5. Resume converted to PDF via html2pdf.app\n6. Email sent with optimized PDF attached + full ATS report in body\n7. Confirmation screen shown on form page\n\n**Required Setup:**\n- Mistral Cloud API Key credential (model: mistral-large-latest)\n- Gmail OAuth2 credential\n- html2pdf.app API key (free at https://html2pdf.app)\n\n**What the ATS Report includes:**\n- ATS compatibility score with breakdown\n- Matched keywords from job description\n- Qualification gaps\n- Skills to learn (with reasons)\n- Projects to build (with descriptions)\n- Certifications to pursue\n- Resume improvement recommendations\n\n**Notes:**\n- PDF only — ask users to export Word docs as PDF before uploading\n- AI never fabricates experience — only reframes existing content\n- Score above 90% is intentionally rare and realistic\n",
        "height": 724,
        "width": 460,
        "color": 4
      },
      "id": "13161db9-ce40-4885-baa1-db624d557689",
      "name": "Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-176, -128]
    },
    {
      "parameters": {
        "formTitle": "AI Resume Optimizer",
        "formDescription": "=Upload your resume as a PDF and paste the job description. Our AI will rewrite your resume for ATS and email you a full improvement report.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Job Description",
              "fieldType": "textarea",
              "placeholder": "Paste the full job description here including requirements, responsibilities, and qualifications...",
              "requiredField": true
            },
            {
              "fieldLabel": "Resume File",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf",
              "requiredField": true
            },
            {
              "fieldLabel": "Candidate Name",
              "placeholder": "Your full name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email Address",
              "fieldType": "email",
              "placeholder": "Your Email ID",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "id": "8162564b-df23-47ac-8c2e-f4893af2620b",
      "name": "Resume Optimizer Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [560, 128],
      "webhookId": "YOUR_WEBHOOK_ID_HERE"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst item = items[0];\n\nconst binaryKeys = Object.keys(item.binary || {});\nconst resumeKey = binaryKeys.find(k => \n  k.toLowerCase().includes('resume') || \n  k.toLowerCase().includes('file')\n) || binaryKeys[0];\n\nif (!resumeKey || !item.binary[resumeKey]) {\n  throw new Error('No resume file found. Please upload a PDF file.');\n}\n\nreturn [{\n  json: {\n    ...item.json,\n    resumeBinaryKey: resumeKey,\n    jobDescription: item.json['Job Description'] || item.json.jobDescription || '',\n    candidateName: item.json['Candidate Name'] || item.json.candidateName || 'Candidate',\n    emailAddress: item.json['Email Address'] || item.json.emailAddress || ''\n  },\n  binary: item.binary\n}];"
      },
      "id": "ee6e428f-ea4c-4b98-a0b4-20f94ecada91",
      "name": "Detect File Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [768, 128]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "={{ $json.resumeBinaryKey }}",
        "options": {
          "joinPages": true,
          "keepSource": false
        }
      },
      "id": "2f158cfb-d6de-466f-8b80-cf0360c70da6",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [992, 128]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nlet resumeText = item.json.text || item.json.content || '';\n\nif (!resumeText && Array.isArray(item.json)) {\n  resumeText = item.json.map(p => p.text || '').join('\\n');\n}\n\nif (!resumeText) {\n  const textFields = Object.entries(item.json)\n    .filter(([k, v]) => typeof v === 'string' && v.length > 50)\n    .map(([k, v]) => v);\n  resumeText = textFields.join('\\n');\n}\n\nreturn [{\n  json: {\n    resumeText: resumeText.trim(),\n    jobDescription: item.json.jobDescription || '',\n    candidateName: item.json.candidateName || 'Candidate',\n    emailAddress: item.json.emailAddress || ''\n  }\n}];"
      },
      "id": "23c59115-472d-4440-864c-5df38a853cbd",
      "name": "Normalize PDF Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1216, 128]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a senior technical recruiter and ATS specialist performing deep job description analysis.\n\nANALYZE this job description with extreme precision:\n\n---\n{{ $json.jobDescription }}\n---\n\nExtract and return ONLY this JSON structure — no other text:\n\n{\n  \"job_title\": \"exact job title as written in the JD\",\n  \"company_signals\": \"brief note on company culture/environment inferred from JD\",\n  \"experience_level\": \"entry | mid | senior | lead | principal | executive\",\n  \"years_required\": \"e.g. 3-5 years or 'not specified'\",\n  \"required_skills\": [\"skill exactly as written in JD\"],\n  \"preferred_skills\": [\"nice-to-have skill from JD\"],\n  \"ats_keywords\": [\"high-value ATS keyword or exact phrase from JD\"],\n  \"action_verbs\": [\"strong action verbs used in responsibilities section\"],\n  \"responsibilities\": [\"key responsibility from JD\"],\n  \"qualifications\": [\"qualification requirement from JD\"],\n  \"tools_and_technologies\": [\"specific tools, platforms, languages, frameworks mentioned\"],\n  \"soft_skills\": [\"soft skills or behavioral competencies mentioned\"],\n  \"industry\": \"industry or domain\",\n  \"key_phrases\": [\"exact multi-word phrases from JD that should appear in resume\"],\n  \"red_flags\": [\"any unusual or problematic requirements\"]\n}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a senior technical recruiter and ATS specialist with 15+ years of experience.\n\nYour job is to perform a DEEP, STRUCTURED analysis of the provided job description. You are NOT rewriting anything — only extracting intelligence that will be used to optimize the candidate's resume.\n\n## EXTRACTION RULES\n- Extract ALL explicitly stated requirements\n- Distinguish between MUST-HAVE vs NICE-TO-HAVE\n- Identify EXACT keywords and phrases that ATS systems will scan for\n- Infer seniority level from context clues\n- Identify culture signals if present\n- Extract action keywords from responsibilities\n\n## OUTPUT RULES\n- Your ENTIRE response must be a single raw JSON object\n- NO code fences, NO backticks, NO markdown, NO prose\n- NO trailing commas\n- Response MUST start with { and end with }"
            }
          ]
        },
        "batching": {}
      },
      "id": "e76e2d88-75e9-4b84-ab24-054fa346f701",
      "name": "AI: Analyze Job Description",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [1408, 128]
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "id": "3eeb9e84-f19c-43cf-9540-c789ddceda14",
      "name": "Mistral Cloud Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [1536, 352],
      "credentials": {
        "mistralCloudApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nlet jdAnalysis = {};\n\ntry {\n  const responseText = item.json.text || item.json.response || item.json.output || '';\n  const cleaned = responseText.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```\\s*$/, '');\n  jdAnalysis = JSON.parse(cleaned);\n} catch(e) {\n  const text = item.json.text || item.json.response || '';\n  const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    try { jdAnalysis = JSON.parse(jsonMatch[0]); } catch(e2) {}\n  }\n}\n\nreturn [{\n  json: {\n    resumeText: item.json.resumeText || '',\n    jobDescription: item.json.jobDescription || '',\n    candidateName: item.json.candidateName || 'Candidate',\n    emailAddress: item.json.emailAddress || '',\n    jdAnalysis: jdAnalysis\n  }\n}];"
      },
      "id": "2f425d12-7c5c-4bf5-961f-e44fecc80acb",
      "name": "Parse JD Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 128]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an elite resume strategist performing comprehensive ATS optimization.\n\n## CANDIDATE INFORMATION\n\n**Name:** {{ $('Resume Optimizer Form').item.json['Candidate Name'] }}\n\n## ORIGINAL RESUME\n```\n{{ $('Normalize PDF Output').item.json.resumeText }}\n```\n\n## JD INTELLIGENCE REPORT\n```json\n{{ JSON.stringify($json.jdAnalysis, null, 2) }}\n```\n\n## FULL JOB DESCRIPTION\n```\n{{ $('Resume Optimizer Form').item.json['Job Description'] }}\n```\n\n---\n\n## YOUR TASKS\n\n**TASK 1 — RESUME REWRITE**\nRewrite the entire resume to maximize ATS match for this specific role.\n\n**TASK 2 — ATS ANALYSIS REPORT**\nGenerate a comprehensive improvement report. Be specific and honest.\n\n---\n\nReturn ONLY this exact JSON object:\n\n{\n  \"candidate_name\": \"name\",\n  \"target_role\": \"job title from JD\",\n  \"optimized_resume\": {\n    \"summary\": \"3-4 sentence executive summary with ATS keywords\",\n    \"skills\": {\n      \"primary\": [\"JD-matching skills\"],\n      \"secondary\": [\"other relevant skills\"]\n    },\n    \"experience\": [\n      {\n        \"title\": \"Exact job title from original\",\n        \"company\": \"Exact company name\",\n        \"dates\": \"Exact dates — NEVER change\",\n        \"bullets\": [\"[Action Verb] [what you did] [result]\"]\n      }\n    ],\n    \"education\": [\n      {\n        \"degree\": \"Exact degree\",\n        \"institution\": \"Exact institution\",\n        \"year\": \"Graduation year\",\n        \"details\": \"GPA/honors if in original\"\n      }\n    ],\n    \"certifications\": [\"Certification from original resume\"]\n  },\n  \"ats_score_estimate\": \"XX% — one sentence honest rationale\",\n  \"ats_score_breakdown\": {\n    \"keyword_match\": \"XX/40 — explanation\",\n    \"experience_relevance\": \"XX/30 — explanation\",\n    \"seniority_alignment\": \"XX/20 — explanation\",\n    \"education_match\": \"XX/10 — explanation\"\n  },\n  \"keyword_matches\": [\"JD keyword in optimized resume\"],\n  \"missing_qualifications\": [\"Specific gap and impact\"],\n  \"recommendations\": [\"Actionable improvement to resume\"],\n  \"skills_to_learn\": [\"Skill — why critical — resource — timeframe\"],\n  \"projects_to_build\": [\"Project — what it demonstrates — tech — time\"],\n  \"certifications_to_pursue\": [\"Cert — issuer — why it helps — time/cost\"]\n}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an elite resume strategist and ATS optimization expert.\n\n## ABSOLUTE RULES (NEVER VIOLATE)\n- NEVER invent job titles, companies, dates, metrics, tools, certifications\n- NEVER add experience the candidate does not have\n- NEVER change employment dates\n- If a required skill is absent, flag it as a gap — do NOT add it\n- Only reframe what already exists\n\n## RESUME REWRITE STANDARDS\n- Summary: 3-4 sentences, embed 2-3 high-value ATS keywords\n- Skills: PRIMARY = present in resume AND matching JD; SECONDARY = remaining relevant skills\n- Experience bullets: [Strong Action Verb] + [What You Did] + [Measurable Result]\n- Use exact JD terminology\n\n## SCORING METHODOLOGY (be realistic)\n- Scores above 85% are RARE\n- Be honest — a 62% with clear guidance beats an inflated 88%\n\n## OUTPUT RULES\n- ENTIRE response must be a single raw JSON object\n- NO code fences, NO markdown, NO trailing commas\n- Response MUST start with { and end with }"
            }
          ]
        },
        "batching": {}
      },
      "id": "e476fb71-3c5e-4b49-9a58-990908ba5135",
      "name": "AI: Rewrite & Optimize Resume",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [2032, 128]
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "id": "b7144998-9516-4514-991f-513cf424c618",
      "name": "Mistral Cloud Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [2112, 352],
      "credentials": {
        "mistralCloudApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Code node that generates HTML resume and ATS report\n// See full workflow for complete implementation\n\nreturn [{\n  json: {\n    html: '<html><body>Optimized Resume HTML</body></html>',\n    reportHtml: '<html><body>ATS Report HTML</body></html>',\n    candidateName: 'Candidate Name',\n    atsscore: '75'\n  }\n}];"
      },
      "id": "3c020fe3-d971-486f-b485-41ba5aa78f89",
      "name": "Build HTML Resume",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2544, 128]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.html2pdf.app/v1/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "html",
              "value": "={{ $json.html }}"
            },
            {
              "name": "apiKey",
              "value": "YOUR_HTML2PDF_API_KEY_HERE"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "41cd8241-25a8-4092-b3ea-7e5ec4d2ba66",
      "name": "Convert HTML to PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2768, 128]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Resume Optimizer Form').item.json['Email Address'] }}",
        "subject": "=Your ATS-Optimized Resume & Analysis Report",
        "message": "={{ $('Build HTML Resume').item.json.reportHtml }}",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [{}]
          }
        }
      },
      "id": "d79eb13c-dd10-4a04-91dd-4bfc12fdc76a",
      "name": "Send Email with Report",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [2992, 128],
      "webhookId": "YOUR_WEBHOOK_ID_HERE",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Resume Optimizer Form": {
      "main": [[{"node": "Detect File Type", "type": "main", "index": 0}]]
    },
    "Detect File Type": {
      "main": [[{"node": "Extract PDF Text", "type": "main", "index": 0}]]
    },
    "Extract PDF Text": {
      "main": [[{"node": "Normalize PDF Output", "type": "main", "index": 0}]]
    },
    "Normalize PDF Output": {
      "main": [[{"node": "AI: Analyze Job Description", "type": "main", "index": 0}]]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [[{"node": "AI: Analyze Job Description", "type": "ai_languageModel", "index": 0}]]
    },
    "AI: Analyze Job Description": {
      "main": [[{"node": "Parse JD Analysis", "type": "main", "index": 0}]]
    },
    "Parse JD Analysis": {
      "main": [[{"node": "AI: Rewrite & Optimize Resume", "type": "main", "index": 0}]]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [[{"node": "AI: Rewrite & Optimize Resume", "type": "ai_languageModel", "index": 0}]]
    },
    "AI: Rewrite & Optimize Resume": {
      "main": [[{"node": "Build HTML Resume", "type": "main", "index": 0}]]
    },
    "Build HTML Resume": {
      "main": [[{"node": "Convert HTML to PDF", "type": "main", "index": 0}]]
    },
    "Convert HTML to PDF": {
      "main": [[{"node": "Send Email with Report", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": []
}